/.quarto/

.RData*
.Rhistory
.Rproj.user

_output
*_cache
*_files
*.quarto_ipynb

tmp*.tex
daten/unfaelle.RData
daten/unfaelle_alle.RData
daten/unfaelle_interaktiv.RData
daten/strassennetz_bo.RData
daten/geo
daten/Daten-BISStra.zip

**/*.quarto_ipynb

site_libs*